@charset "utf-8";
/* CSS Document */


/*
==============================================
Clearing css
==============================================
*/
* {
	padding:0;
	margin:0;
	outline:none;
}
/*
==============================================
Typography Css
==============================================
*/

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	background-color: #02EEFD;
}
a img, img {
	border:none;
}
a {
	text-decoration:none;
	color:#004267;
}
a:hover {
	text-decoration:underline;
}
input {
	font-family:tahoma, arial, sans-serif;
	font-size:11px;
	color:#999;
}
ul, ol {
	list-style:none;
}
.clear {
	clear:both;
	line-height:0;
	font-size:0;
}
.container2 {background: black;
  width: auto;
  height: auto;
  top: 60px;
  left:0;
  position:fixed;
  font-size:15px;}
  
  .container2 a:hover{
  font-size:22px;
  cursor:pointer;}
  
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
	text-decoration:none;
}
h1 {
	font-size:16px;
	color:#003f64;
	line-height:16px;
	padding-bottom:8px;
}
h2 {
	font-size:14px;
	color:#fff;
	line-height:16px;
	padding-bottom:8px;
}
h3 {
	font-size:12px;
	color:#0099FF;
	line-height:16px;
	padding-bottom:8px;
}
h4 {
	font-size:1px;
	line-height:16px;
	padding-bottom:8px;
}
p {
	line-height:15px;
	padding-bottom:8px;
}
/*
==============================================
WRAPPER AREA
==============================================
*/
#outer_wrapper {
	width:100%;
	background:url(../images/bg-body.jpg) repeat-x top;
}
#outer_wrapper_inner {
	width:100%;
	background:url(../images/bg-body-inner.jpg) repeat-x top;
}
#wrapper {
	width:960px;
	margin:0 auto;
}
/*
==============================================
header section
==============================================
*/

#header {
	width:960px;
	float:left;
	padding-top:15px;
	padding-bottom:10px;
}
#header img#logo {
	float:left;
	margin-left:18px;
	margin-top:18px;
}
#right_header {
	float:right;
	width:650px;
}
#top_nav {
	width:650px;
	padding-bottom:34px;
	float:left;
}
#top_nav ul {
	float:right;
}
#top_nav li {
	float:left;
	background:url(../images/sep-header.png) no-repeat left center;
	padding:0 6px 0 8px;
}
#top_nav li:first-child {
	background:none;
}
#top_nav li a {
	display:block;
	float:left;
	line-height:21px;
	font-family:tahoma, arial, sans-serif;
	color:#fff;
	padding-left:5px;
	text-decoration:none;
}
#top_nav li a:hover, #top_nav li a.active {
	background:url(../images/bg-topnav-left.png) no-repeat left top;
	color:#fff;
}
#top_nav li a:hover span, #top_nav li a.active span {
	background:url(../images/bg-topnav-right.png) no-repeat right top;
}
#top_nav li a span {
	display:block;
	float:left;
	padding-right:5px;
}
#search_header {
	float:left;
	width:650px;
}
#search_header ul {
	float:right;
}
#search_header li {
	float:left;
}
#search_header li input {
	float:left;
	border:1px solid #d5d5d5;
	width:185px;
	height:15px;
	color:#5f5f5f;
	font-family:tahoma, arial, sans-serif;
	font-size:11px;
	padding:4px 10px;
}
#search_header li a {
	display:block;
	float:left;
	color:#fff;
	font-family:tahoma, arial, sans-serif;
	font-weight:bold;
	line-height:25px;
	padding-left:28px;
	padding-right:15px;
	background:url(../images/bg-btn-search.png) no-repeat 12px 7px #004a72;
}
#search_header li a:hover {
	text-decoration:none;
	background:url(../images/bg-btn-search.png) no-repeat 12px 7px #000;
}
/*
==============================================
navigation section
==============================================
*/

#nav {
	width:960px;
	float:left;
	height:40px;
	position:relative;
	z-index:100;
	background:#fff;
}
#nav ul li {
	float:left;
	position:relative;
}
#nav ul li:first-child a {
	padding:0 15px 0 14px;
}
#nav ul li a {
	display:block;
	line-height:40px;
	font-size:13px;
	color:#2a789e;
	font-weight:bold;
	padding:0 12px;
}
#nav ul li a:hover, #nav ul li a.active {
	text-decoration:none;
	background:url(../images/bg-nav-hover.gif) repeat-x top;
	color:#fff;
}
#nav ul li:hover > a {
	text-decoration:none;
	background:url(../images/bg-nav-hover.gif) repeat-x top;
	color:#fff;
}
#nav li ul {
	margin:0;
	padding:6px 5px;
	width:164px;
	background:#003c60;
	position:absolute;
	left:-99999px;
	top:40px;
}
#nav li ul li {
	width:164px;
	padding:0;
	height:25px;
}
#nav li:hover ul {
	left:0;
}
#nav li ul li:first-child a {
	padding:0 0 0 10px;
}
#nav li ul li a {
	padding:0;
	padding-left:10px;
	margin:0;
	width:154px;
	height:auto;
	line-height:25px;
	color:#fff;
}
#nav li ul li a:hover, #nav li ul li:hover > a {
	background:url(../images/hover-list.png) no-repeat left top;
	color:#003c60;
}
#nav li ul li ul {
	width:150px;
	background:#f8f8f8;
	left:170px;
	top:0;
	display:none;
}
#nav li ul li ul li {
	padding:0;
	margin:0;
}
#nav li ul li:hover ul {
	display:block;
	left:154px;
}
#nav li ul li ul li a {
	width:140px;
	color:#003c60;
}
#nav li ul li ul li a:hover, #nav li ul ul li:hover > a {
	color:#fff;
	background:url(../images/bg-hover-list2.png) no-repeat left top;
}
/*
==============================================
content section
==============================================
*/
#content {
	width:960px;
	float:left;
}
/*
==============================================
banner section
==============================================
*/

#banner_wrapp {
	width:960px;
	float:left;
	height:380px;
	overflow:hidden;
	position:relative;
	margin-bottom:10px;
}
#banner {
	float:left;
	width:960px;
	position:relative;
	height:380px;
	z-index:5;
}
#banner_accordion {
	position:absolute;
	right:10px;
	top:10px;
	z-index:10;
	width:230px;
}
.acord_box {
	width:230px;
	float:left;
	margin-bottom:2px;
	background:url(../images/bg-tran-1.png);
	overflow:hidden;
}
.hdaccor {
	width:215px;
	float:left;
	height:25px;
	background:#002539;
	text-align:left;
	padding-top:8px;
	cursor:pointer;
	padding-left:15px;
}
.hdaccor h2 {
	padding-bottom:0;
	font-size:13px;
	word-spacing:-1px;
}
.slideaccor {
	width:210px;
	float:left;
	padding-top:8px;
	padding:14px 11px 0 9px;
	height:242px;
}
.slideaccor h5 {
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-weight:normal;
	line-height:20px;
	letter-spacing:-1px;
	padding-bottom:14px;
}
.slideaccor ul li {
	float:left;
	width:210px;
}
.slideaccor ul {
	float:left;
	width:210px;
	margin-bottom:8px;
}
.slideaccor ul li a {
	display:block;
	float:left;
	line-height:19px;
	font-size:11px;
	color:#fff;
	text-decoration:none;
	padding-left:28px;
	width:182px;
	background:url(../images/sep-acord.gif) no-repeat 6px 6px;
}
.slideaccor ul li a:hover, .slideaccor ul li a.active {
	background:url(../images/sep-acord.gif) no-repeat 6px 6px #07405d;
}
.slideaccor h6 {
	font-size:11px;
	color:#fff;
	line-height:21px;
	margin-bottom:14px;
	background:url(../images/bg-tran-1.png);
	padding-left:10px;
	float:left;
	width:200px;
}
.slideaccor a.btn_banner1 {
	display:block;
	width:201px;
	height:32px;
	float:left;
	background:url(../images/btn-slide1.png) no-repeat left top;
	text-align:center;
	line-height:30px;
	font-size:13px;
	color:#000;
	text-decoration:none;
	margin-left:6px;
	margin-bottom:5px;
}
.slideaccor a.btn_banner2 {
	display:block;
	width:201px;
	height:32px;
	float:left;
	background:url(../images/btn-slide2.png) no-repeat left top;
	text-align:center;
	line-height:30px;
	font-size:13px;
	color:#fff;
	text-decoration:none;
	margin-left:6px;
	margin-bottom:5px;
	font-weight:bold;
}
/*
==============================================
Banner inner Page
==============================================
*/
#banner_wrapp_inner {
	width:960px;
	float:left;
	height:250px;
	margin-bottom:15px;
	overflow:hidden;
	position:relative;
}
#banner_inner {
	width:960px;
	height:250px;
	position:relative;
	overflow:hidden;
	z-index:10;
}
#heading_banner {
	position:absolute;
	left:14px;
	display:block;
	bottom:18px;
	background:url(../images/bg-heading-banner.png) no-repeat left top;
	width:171px;
	height:123px;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	text-indent:-99999px;
	text-align:center;
	z-index:100;
	float:left;
}
#hd_news {
	position:absolute;
	left:14px;
	display:block;
	bottom:15px;
	background:url(../images/hd-news.png) no-repeat left top;
	width:304px;
	height:103px;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	text-indent:-99999px;
	text-align:center;
	z-index:100;
	float:left;
}
#hd_gallery {
	position:absolute;
	left:14px;
	display:block;
	bottom:15px;
	background:url(../images/hd-gallery.png) no-repeat left top;
	width:334px;
	height:103px;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	text-indent:-99999px;
	text-align:center;
	z-index:100;
	float:left;
}
#hd_contact {
	position:absolute;
	left:14px;
	display:block;
	bottom:15px;
	background:url(../images/hd-contactus.png) no-repeat left top;
	width:264px;
	height:93px;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	text-indent:-99999px;
	text-align:center;
	z-index:100;
	float:left;
}
#hd_course {
	position:absolute;
	left:14px;
	display:block;
	bottom:18px;
	background:url(../images/hd-courses.png) no-repeat left top;
	width:171px;
	height:123px;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	text-indent:-99999px;
	text-align:center;
	z-index:100;
	float:left;
}
/*
==============================================
Study Programs
==============================================
*/
.study_programs {
	width:960px;
	float:left;
	margin-bottom:18px;
}
.study_programs li {
	float:left;
	margin-left:15px;
	position:relative;
	height:156px;
	overflow:hidden;
}
.study_programs li:first-child {
	margin:0;
}
.study_programs li .programdetail {
	position:absolute;
	left:5px;
	width:299px;
	bottom:5px;
}
.study_programs li .programdetail .headingprogram {
	width:285px;
	padding-left:14px;
	height:25px;
	background:#002539;
	text-align:left;
	padding-top:8px;
	cursor:pointer;
}
.study_programs li .programdetail .headingprogram h2 {
	padding-bottom:0;
	line-height:18px;
}
.study_programs li .detailprogram {
	float:left;
	width:279px;
	padding:6px 10px;
	background:url(../images/bg-tran-1.png);
}
.study_programs li .detailprogram p {
	color:#fff;
	font-family:tahoma, arial, sans-serif;
	line-height:17px;
	padding:0;
	padding-bottom:6px;
}
.study_programs li .detailprogram .readmore {
	float:left;
	width:279px;
	border-top:1px solid #454542;
	padding-top:6px;
}
.study_programs li .detailprogram .readmore a {
	display:block;
	float:right;
	color:#fff;
	font-family:tahoma, arial, sans-serif;
	padding-left:10px;
	background:url(../images/sep-program.png) no-repeat left 4px;
	line-height:15px;
}
.outer_row {
	width:960px;
	float:left;
	margin-bottom:10px;
}
.col-left {
	float:left;
	width:635px;
}
.col-left h2 {
	color:#002539;
	padding-bottom:6px;
	margin-bottom:10px;
	border-bottom:1px solid #ddd;
}
.col-left h3 {
	padding-bottom:3px;
}
.col-left p {
	font-family:tahoma, arial, sans-serif;
	line-height:15px;
	padding-bottom:0;
}
.col-left p a {
	text-decoration:underline;
}
.col-left p a:hover {
	color:#999;
}
.spotlight_slider {
	float:left;
	width:310px;
}
.box_spotlight {
	float:left;
	width:310px;
	padding-bottom:14px;
	margin-bottom:14px;
	border-bottom:1px dotted #b8b8b8;
}
.box_spotlight img {
	float:left;
}
.box_spotlight .spot_desc {
	float:right;
	width:230px;
}
.news_slider {
	float:right;
	width:310px;
}
.news_box {
	width:310px;
	float:left;
	margin-bottom:16px;
}
.news_box span.date {
	display:block;
	float:left;
	background:#fff;
	text-align:center;
	width:48px;
	height:45px;
	padding-top:3px;
	border:1px solid #f1f1f1;
}
.news_box span.date img {
	display:block;
	margin:0 auto;
}
.news_box span.date strong {
	width:48px;
	float:left;
	color:#5f6060;
	line-height:14px;
	padding-top:2px;
}
.news_box .news_desc {
	width:252px;
	float:right;
}
.col-right {
	float:right;
	width:310px;
}
.newsletter {
	float:left;
	width:288px;
	height:47px;
	background:url(../images/bg-newsletter.jpg) no-repeat left top;
	border:1px solid #dddddd;
	padding:0 px;
	margin-bottom:9px;
}
.newsletter input {
	float:left;
	background:#fff;
	width:124px;
	height:15px;
	border:none;
	font-family:tahoma, arial, sans-serif;
	font-size:11px;
	padding:4px 10px;
	color:#999;
}
.newsletter a {
	display:block;
	float:left;
	width:59px;
	line-height:23px;
	color:#fff;
	font-weight:bold;
	font-family:tahoma, arial, sans-serif;
	text-align:center;
	background:#004a72;
}
/*Course search*/

.coursesearch {
	width:308px;
	float:left;
	border:1px solid #ddd;
}
.coursesearch h2 {
	background:#002539;
	line-height:33px;
	padding:0;
	padding-left:15px;
}
.coursesearch ul {
	float:left;
	width:288px;
	padding:8px 10px;
	padding-bottom:0;
}
.coursesearch ul li {
	float:left;
	width:288px;
	padding-bottom:11px;
}
.coursesearch ul li label {
	display:block;
	float:left;
	width:100%;
	font-size:12px;
	color:#004a72;
	font-weight:bold;
	line-height:17px;
	padding-bottom:3px;
}
.coursesearch ul li input.txt1 {
	float:left;
	width:266px;
	height:15px;
	padding:3px 10px;
	font-family:tahoma, arial, sans-serif;
	color:#999;
	font-size:11px;
	border:1px solid #d5d5d5;
}
.coursesearch ul li span {
	display:block;
	float:left;
}
.coursesearch ul li span.left {
	width:152px;
}
.coursesearch ul li span.right {
	width:130px;
	float:right;
}
.coursesearch ul li select {
	border:1px solid #ddd;
	float:left;
	padding:5px;
	height:27px;
	font-family:tahoma, arial, sans-serif;
	color:#999;
	font-size:11px;
}
.coursesearch ul li span.left select {
	width:150px;
}
.coursesearch ul li span.right select {
	width:130px;
}
.coursesearch ul li span.groupradio label {
	width:auto;
	font-size:11px;
	color:#333;
	padding:5px 10px 0 0;
	line-height:16px;
}
.coursesearch ul li span.groupradio label input {
	float:left;
	width:14px;
	height:14px;
	line-height:0;
	font-size:0;
	margin-right:6px;
	margin-top:1px;
}
.coursesearch ul li a.btn_search {
	display:block;
	float:left;
	background:url(../images/bg-btn-left.png) no-repeat left top;
	height:25px;
	line-height:25px;
	padding-left:23px;
	font-weight:bold;
	color:#fff;
	font-size:13px;
}
.coursesearch ul li a.btn_search span {
	padding-right:20px;
	cursor:pointer;
	background:url(../images/bg-btn-right.png) no-repeat right top;
}
/*
==============================================
left content section
==============================================
*/
#left_content {
	width:721px;
	float:left;
	padding-top:5px;
}
#course_content {
	width:721px;
	float:left;
}
#left_content h1 {
	padding-bottom:12px;
}
.news_heading {
	float:left;
	width:721px;
}
.news_heading h1 {
	float:left;
	width:220px;
}
.news_heading p {
	float:right;
	line-height:18px;
	padding-bottom:0;
}
.blog_box {
	width:721px;
	float:left;
	background:#fff;
	margin-bottom:12px;
}
.blog_heading {
	width:710px;
	float:left;
	border:1px solid #00659b;
	background:#004a72;
	padding-left:9px;
	padding-top:6px;
	padding-bottom:6px;
}
.blog_heading h2 {
	color:#fff;
	line-height:16px;
	padding:0;
}
.blog_heading h2 a {
	color:#fff;
}
.blog_date {
	width:710px;
	float:left;
	border:1px solid #ccc;
	border-top:0;
	border-bottom:0;
	background:#f0f0f0;
	padding-left:9px;
	padding-top:5px;
	padding-bottom:5px;
}
.blog_date p {
	float:left;
	width:480px;
	padding-bottom:0;
	line-height:20px;
}
.social_panel {
	float:right;
	width:220px;
}
.social_panel img {
	float:left;
	margin-right:6px;
	margin-left:7px;
}
.blog_content, .blog_detail, .news_content {
	width:701px;
	border:1px solid #ccc;
	padding:9px;
	float:left;
	padding-bottom:0;
}
.news_content {
	padding:9px 13px;
	padding-left:9px;
	width:697px;
	padding-bottom:0;
}
.blog_detail {
	padding-right:12px;
	width:698px;
}
.blog_detail img.align_left {
	float:left;
	margin-right:12px;
	margin-bottom:12px;
}
.news_content img.align_left {
	float:left;
	margin-right:12px;
	margin-bottom:12px;
}
.blog_content img.align_left {
	display:block;
	margin-bottom:8px;
}
.blog_content p {
	text-align:justify;
	word-spacing:1px;
	padding-right:4px;
	padding-bottom:15px;
}
.blog_detail p {
	text-align:justify;
	padding-bottom:15px;
	line-height:16px;
}
.news_content p {
	text-align:justify;
	line-height:16px;
	word-spacing:1px;
}
.pager {
	float:left;
	width:705px;
	border:1px solid #ccc;
	background:#f0f0f0;
	padding:4px 10px;
	padding-right:4px;
	margin-bottom:12px;
}
.pager ul {
	float:left;
}
.pager ul li {
	float:left;
	color:#004a72;
	font-size:12px;
	line-height:21px;
	font-weight:bold;
}
.pager ul li:first-child {
	padding-right:10px;
}
.pager ul li a {
	display:block;
	float:left;
	padding:0 7px;
}
.pager ul li a.active, .pager ul li a:hover {
	line-height:19px;
	border:1px solid #ccc;
	background:#fff;
	padding:0 6px;
	text-decoration:none;
}
.pager_arrow {
	float:right;
	width:55px;
}
.pager_arrow a {
	display:block;
	float:left;
	text-indent:-9999px;
	border:1px solid #ccc;
	height:19px;
	background:url(../images/img-pager-left.png) no-repeat center center #fff;
	width:19px;
	margin-left:4px;
}
.pager_arrow a.pagerright {
	background:url(../images/img-pager-right.png) no-repeat center center #fff;
}
#comments {
	float:left;
	width:721px;
}
.comment_heading {
	float:left;
	width:721px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.comment_heading h2 {
	float:left;
	color:#003f64;
	width:500px;
	line-height:25px;
	font-size:16px;
	padding-bottom:0;
}
.comment_heading h2 a {
	text-decoration:underline;
}
.comment_heading a.btn_replay {
	display:block;
	float:right;
	padding-left:23px;
	line-height:25px;
	background:url(../images/bg-btn-left.png) no-repeat left top;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
.comment_heading a.btn_replay span {
	display:block;
	float:left;
	padding-right:23px;
	background:url(../images/bg-btn-right.png) no-repeat right top;
}
.comment_main {
	float:left;
	width:721px;
}
.comment_box {
	float:left;
	width:721px;
	margin-bottom:10px;
}
.comment_box2 {
	float:left;
	width:691px;
	margin-bottom:10px;
	padding-left:30px;
}
.comment_box3 {
	float:left;
	width:631px;
	margin-bottom:10px;
	padding-left:90px;
}
.comment_main span.imguser {
	display:block;
	float:left;
	width:48px;
	border:1px solid #ccc;
}
.comment_main span.imguser img {
	float:left;
}
.comment_main .comment_description {
	float:right;
	width:638px;
	border:1px solid #ccc;
	padding:10px;
	padding-bottom:0;
}
.comment_main .comment_box2 .comment_description {
	width:608px;
	background:#f8fdff;
}
.comment_main .comment_box3 .comment_description {
	width:548px;
	background:#eef4f6;
}
.comment_main .comment_description p {
	text-align:justify;
}
.comment_main .comment_description .userinfo {
	padding-bottom:7px;
}
.comment_main .comment_description .userinfo h3 {
	float:left;
	padding-right:5px;
	line-height:16px;
	padding-bottom:0;
}
.comment_main .comment_description .userinfo span {
	padding-bottom:0;
	line-height:17px;
}
/*News*/

.newsarch {
	float:left;
	width:721px;
	margin-bottom:10px;
}
.newsarch li {
	float:left;
	padding-left:5px;
}
.newsarch li:first-child {
	padding-left:0;
}
.newsarch li a {
	display:block;
	float:left;
	border:1px solid #ccc;
	background:#fff;
	line-height:28px;
	font-weight:bold;
	color:#002539;
	font-size:12px;
	padding:0 12px 0 13px;
}
.newsarch li a:hover, .newsarch li a.active {
	color:#fff;
	background:#004a72;
	text-decoration:none;
}
/*Course*/

.course_intro {
	float:left;
	width:721px;
}
#left_content .course_intro h1 {
	padding-bottom:8px;
}
.course_intro p {
	color:#333;
	line-height:16px;
	text-align:justify;
	padding-bottom:15px;
}
.select_category {
	float:left;
	width:721px;
	margin-bottom:12px;
}
.select_category select {
	float:left;
	height:22px;
	padding:2px;
	border:1px solid #ccc;
	width:120px;
	font-size:11px;
	color:#747474;
	font-family:tahoma, arial, sans-serif;
}
.select_category p {
	float:left;
	padding-bottom:0;
	line-height:20px;
	color:#333;
	padding-left:12px;
}
/*Accordion*/
.course_accordion {
	width:721px;
	float:left;
	margin-bottom:12px;
}
.course_box {
	width:721px;
	float:left;
}
.accor_heading {
	width:721px;
}
.accor_heading h5:hover {
	background: url(../images/bg-accor2.png) no-repeat 8px 7px #004a72;
	color:#fff;
}
.accor_heading h5 {
	width:679px;
	float:left;
	background: url(../images/bg-accor1.png) no-repeat 8px 7px #eee;
	border:1px solid #cecece;
	padding:5px 10px;
	padding-left:30px;
	cursor:pointer;
	color:#000;
	font-size:14px;
	font-weight:bold;
	line-height:16px;
}
.downToggle h5 {
	background: url(../images/bg-accor3.png) no-repeat 8px 7px #004a72;
	color:#fff;
}
.accor_content {
	float:left;
	width:721px;
	padding-top:5px;
	padding-bottom:5px;
}
.accor_content li {
	float:left;
	width:721px;
	border-bottom:1px solid #e1f2fa;
	background:#f8f8f8;
	font-size:12px;
}
.accor_content li.hd {
	background:#006fab;
	color:#fff;
	font-weight:bold;
	font-size:11px;
}
.accor_content li.hd span.box1, .accor_content li.hd span.box3 {
	background:#005d8f;
}
.accor_content li span {
	display:block;
	float:left;
	text-align:center;
	line-height:30px;
}
.accor_content li span.box1 {
	width:83px;
	background:#fff;
}
.accor_content li span.box2 {
	width:351px;
	padding-left:16px;
	text-align:left;
}
.accor_content li span.box3 {
	width:154px;
	background:#fff;
}
.accor_content li span.box4 {
	width:117px;
}
.accor_content .note {
	width:691px;
	float:left;
	margin-top:12px;
	background:#f4ffd0;
	padding:8px 15px;
}
.accor_content .note p {
	padding-bottom:0;
	line-height:18px;
	font-family:tahoma, arial, sans-serif;
	color:#000;
}
.accor_content .note p strong {
	color:#ff0000;
}
/*
==============================================
right content section
==============================================
*/
#right_content {
	width:230px;
	float:right;
}
.banner_applynow {
	width:230px;
	float:left;
	margin-bottom:12px;
	position:relative;
}
.banner_applynow a, .banner_applynow img {
	display:block;
	float:left;
}
.banner_applynow span {
	display:block;
	float:left;
	position:absolute;
	right:5px;
	bottom:5px;
	background:url(../images/hd-applyow.png) no-repeat left top;
	width:113px;
	height:32px;
	text-indent:-9999px;
}
.category_box {
	width:230px;
	float:left;
	border:1px solid #ccc;
	margin-bottom:10px;
	background:#f6fcff;
}
.heading_box {
	float:left;
	width:210px;
	background:#002539;
	padding:6px 10px;
}
.heading_box h2 {
	padding:0;
}
.content_box_search {
	width:208px;
	float:left;
	padding:12px 10px 8px 10px;
}
.content_box_search select {
	float:left;
	height:22px;
	padding:2px;
	border:1px solid #ccc;
	width:208px;
	font-size:11px;
	color:#747474;
	margin-bottom:12px;
	font-family:tahoma, arial, sans-serif;
	clear:both;
}
.content_box_search h3 {
	padding-bottom:5px;
}
.content_box_search input {
	float:left;
	width:184px;
	border:1px solid #d5d5d5;
	height:15px;
	padding:3px 10px;
	margin-bottom:12px;
}
.content_box_search a.btn_search_cate {
	display:block;
	float:left;
	padding-left:23px;
	line-height:25px;
	background:url(../images/bg-btn-left.png) no-repeat left top;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
.content_box_search a.btn_search_cate span {
	display:block;
	float:left;
	padding-right:23px;
	background:url(../images/bg-btn-right.png) no-repeat right top;
}
.content_box {
	float:left;
	width:221px;
	padding:4px 3px 4px 4px;
}
.content_box_rss {
	float:left;
	width:213px;
	padding:10px 3px 8px 12px;
}
.content_box_rss h5 {
	line-height:15px;
	padding-bottom:6px;
	font-size:11px;
	color:#999;
	font-family:tahoma, arial, sans-serif;
	font-weight:normal;
	background:url(../images/ico-rss.png) no-repeat left top;
	padding-left:22px;
}
.content_box_rss li {
	float:left;
	width:200px;
	padding-left:13px;
	background:url(../images/sep-list-right.gif) no-repeat 2px 6px;
	line-height:18px;
	padding-bottom:2px;
}
.content_box li {
	float:left;
	width:221px;
}
.content_box li a {
	display:block;
	float:left;
	font-weight:bold;
	line-height:25px;
	background:url(../images/sep-list-right.gif) no-repeat 9px 8px;
	padding-left:21px;
	color:#333;
}
.content_box li a:hover, .content_box li a.active {
	background:url(../images/bg-hover-list.png) no-repeat left top;
	line-height:25px;
	color:#fff;
	width:200px;
	text-decoration:none;
}
/*
==============================================
footer section
==============================================
*/

#outer_footer {
	width:100%;
	height:182px;
	float:left;
	background-color: #000000;
	background-image: url(../images/bg-footer.png);
	background-repeat: repeat-x;
	background-position: left top;
}
#footer {
	width:960px;
	margin:0 auto;
}
#left_footer {
	float:left;
	width:540px;
	background:url(../images/bg-border-left.png) repeat-y right top;
	height:121px;
	padding-right:2px;
	padding-top:15px;
}
#left_footer li {
	float:left;
	width:180px;
}
#left_footer li h2 {
	padding-bottom:8px;
	margin-bottom:8px;
	border-bottom:1px dashed #376a87;
}
#left_footer li a {
	display:block;
	float:left;
	color:#fff;
	font-family:tahoma, arial, sans-serif;
	color:#feffff;
	padding-left:8px;
	background:url(../images/sep-program.png) no-repeat left 4px;
	line-height:15px;
}
#left_footer li ul li {
	padding-bottom:4px;
}
#right_footer {
	width:416px;
	padding-right:2px;
	float:right;
	background:url(../images/bg-border-left.png) repeat-y right top;
	height:136px;
}
.tweetbox {
	width:408px;
	float:left;
	padding-left:8px;
	height:76px;
	padding-top:8px;
}
.left_tweet {
	float:left;
	width:294px;
	padding: 9px 10px;
	padding-bottom:4px;
	color:#000000;
	font-family:tahoma, arial, sans-serif;
	position:relative;
	background-color: #FFFF00;
}
.left_tweet em.shoutright {
	display:block;
	float:right;
	position:absolute;
	border-bottom: 10px solid #3d7ea4;
	border-left: 12px solid #285d7d;
	border-top: 10px solid #3d7ea4;
	right:-12px;
	width:0;
	height:0;
	top:50%;
	margin-top:-10px;
}
.left_tweet p {
	line-height:16px;
	padding-bottom:4px;
}
.left_tweet p a {
	color:#00b4ff;
}
.right_tweet {
	float:right;
	width:92px;
	text-align:center;
}
.right_tweet h3 {
	font-size:12px;
	color:#fff;
	padding-bottom:0;
	word-spacing:-1px;
}
.bottom_links {
	width:416px;
	float:left;
	background:url(../images/bg-border.png) repeat-x top;
	padding-top:2px;
	height:50px;
}
.left_links {
	float:left;
	width:203px;
	padding-right:2px;
	background:url(../images/bg-border-left.png) repeat-y right top;
	height:37px;
	padding-top:13px;
}
.left_links li {
	float:left;
	padding-left:6px;
}
.left_links li h3 {
	color:#fff;
	padding-top:4px;
	padding-right:4px;
}
.right_links {
	text-align:center;
	width:210px;
	float:left;
	color:#fff;
	font-weight:bold;
	padding-top:15px;
}
.right_links h3 {
	font-size:16px;
	color:#fff;
	line-height:18px;
}
.bottom_footer {
	width:960px;
	float:left;
	padding-top:12px;
}
.bottom_footer p {
	float:left;
	width:850px;
	color:#fff;
}
.bottom_footer a#topScroll {
	color:#fff;
	display:block;
	float:right;
	padding-right:27px;
	background:url(../images/btn-top.png) no-repeat right top;
	line-height:19px;
}
/*Contact us*/

#contact_us {
	float:left;
	width:938px;
	border:1px solid #ccc;
	background:url(../images/bg-trans1.png);
	padding:14px 10px;
	padding-bottom:0px;
	margin-bottom:20px;
}
.addressbox {
	width:906px;
	float:left;
	border:1px solid #ccc;
	background:url(../images/bg-trans1.png);
	padding:15px 10px 10px 20px;
	margin-bottom:10px;
}
.quickinquiry {
	width:938px;
	float:left;
}
.addressbox h2, .inquiry_form h2, .inquiry_note h2 {
	color:#FFFF00;
	line-height:16px;
	padding-bottom:14px;
}
.postal_address {
	float:left;
	width:300px;
}
.visitaddres {
	float:left;
	width:275px;
}
.postal_address ul li {
	float:left;
	width:100%;
	padding-bottom:10px;
	font-family:tahoma, arial, sans-serif;
	color:#222427;
}
.postal_address li span {
	display:block;
	float:left;
	width:auto;
	text-align:center;
	margin-top:6px;
}
.postal_address li .desc1 {
	float:left;
	width:850px;
	padding-left:12px;
}
.postal_address li .desc {
	float:left;
	width:210px;
	padding-left:12px;
}
.postal_address li p {
	line-height:18px;
	padding-bottom:0;
	color: #000000;
}
.postal_address li p strong {
	color:#08387f;
	line-height:22px;
}
.map_address {
	float:right;
	width:328px;
}
.map_address img {
	border:1px solid #ccc;
	float:left;
}
.inquiry_form {
	float:left;
	width:554px;
	border:1px solid #ccc;
	padding:20px;
	padding-bottom:14px;
	margin-bottom:12px;
}
.inquiry_form li {
	float:left;
	width:554px;
	line-height:25px;
	color:#575757;
}
.inquiry_form li div.left {
	float:left;
	width:268px;
	line-height:16px;
}
.inquiry_form li div.left input {
	width:246px;
	height:15px;
	background:#fff;
	border:1px solid #ccc;
	padding:3px 10px;
	margin-bottom:11px;
}
.inquiry_form li div.right {
	width:268px;
	float:right;
	line-height:16px;
}
.inquiry_form li div.right textarea {
	width:246px;
	height:82px;
	background:#fff;
	border:1px solid #ccc;
	padding:3px 10px;
	margin-bottom:10px;
	font-family:tahoma, arial, sans-serif;
	font-size:11px;
	overflow:auto;
	color:#999;
}
.inquiry_form li input.btn_submit {
	float:left;
	width:83px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	border:none;
	cursor:pointer;
	background:#004a72;
	margin-right:8px;
}
.inquiry_form li a {
	color:#575757;
}
.inquiry_note {
	float:right;
	width:314px;
	padding-top:6px;
}
.inquiry_note p {
	line-height:17px;
	padding-bottom:14px;
}
.inquiry_note li {
	line-height:18px;
	color:#333;
}
/*Gallery*/

#gallery {
	float:left;
	width:938px;
	border:1px solid #ccc;
	background:url(../images/bg-trans1.png);
	padding:14px 10px;
	padding-bottom:0px;
	margin-bottom:20px;
}
.heading_gallery {
	float:left;
	width:938px;
	padding-bottom:12px;
}
.heading_gallery h1 {
	float:left;
	width:700px;
	padding-bottom:0;
	padding-top:5px;
}
.heading_gallery ul {
	float:right;
}
.heading_gallery ul li {
	float:left;
	padding-left:10px;
}
.heading_gallery li a {
	display:block;
	float:left;
	line-height:25px;
	padding:0 12px;
	background:#004a72;
	border:2px solid #0074b3;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}
.gallery_category {
	float:left;
	width:916px;
	background:#004a72;
	border:1px solid #0074b3;
	padding:3px 10px;
	margin-bottom:10px;
}
.gallery_category h2 {
	float:left;
	padding-bottom:0;
	padding-top:3px;
}
.select_gallery {
	float:right;
}
.select_gallery label {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:20px;
	padding-right:8px;
	display:block;
	float:left;
}
.select_gallery select {
	float:left;
	height:22px;
	padding:2px;
	border:1px solid #ccc;
	width:160px;
	font-size:11px;
	color:#747474;
	font-family:tahoma, arial, sans-serif;
}
#content_gallery {
	float:left;
	width:936px;
	position:relative;
	overflow:hidden;
}
#content_gallery li {
	float:left;
	width:215px;
	height:140px;
	overflow:hidden;
	border:5px solid #ddd;
	margin-left:4px;
	margin-right:5px;
	margin-bottom:10px;
}
#content_gallery li a {
	display:block;
	float:left;
	position:relative;
	width:215px;
	height:140px;
	text-decoration:none;
}
#content_gallery li a span {
	display:none;
	float:left;
	width:195px;
	background:url(../images/bg-tran-1.png);
	color:#fff;
	font-size:11px;
	left:0;
	bottom:0;
	padding:5px 10px;
	z-index:10;
	height:20px;
	position:absolute;
}
#content_gallery li:hover {
	border:5px solid #006297;
}
#content_gallery li:hover span {
	display:block;
}
#content_gallery li img {
	float:left;
	position:relative;
	z-index:1;
}
#content_gallery li span {
}
.student_box img {
	float:left;
	margin-bottom:12px;
}
.student_box p {
	color:#fff;
	line-height:17px;
	padding-bottom:0;
}

.news_updates {
	width:958px;
	background-image:url(../images/newsbg.gif);
	background-repeat:repeat-y;
	height:26px;
	border:solid 1px #bbc1c4;
	line-height:26px!important;
}
